<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.select(
    "track_id",
    Track.find(session[:default_track_id]).tracks
    .sort_by{ |tr| tr.title }
    .map { |tr| [tr.title, tr.id] },
    selected: session[:default_track_id]
    ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
