<p id="notice"><%= notice %></p>

<p>
  <strong>Lyrics:</strong>
  <%= @track.lyrics %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @track.kind %>
</p>

<p>
  <strong>Album:</strong>
  <%= @track.album.name %>
</p>

<p>
  <strong>Band:</strong>
  <%= @track.band.name %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', :back %>
