<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @track.lyrics %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @track.kind %>
</p>

<p>
  <strong>Album:</strong>
  <%= @track.album.name %>
</p>

<p>
  <strong>Band:</strong>
  <%= @track.band.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= render 'notes/disp', notes: @track.notes %>
</p>

<p>
  <%= link_to 'New Note', new_note_url%>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', :back %>
