<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @album.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Band:</strong>
  <%= @album.band.name %>
</p>

<p>
  <strong>Tracks:</strong>
  <%= render 'tracks/disp', tracks: @album.tracks %>

</p>

<p>
  <%= link_to 'New Track', new_track_url%>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', :back %>
