<p id="notice"><%= notice %></p>

<p>
  <strong>Band Name:</strong>
  <%= @band.name %>

</p>

<p>
  <strong>Albums:</strong>
  <%= render 'albums/disp', albums: @band.albums.sort_by(&:name) %>

</p>

<p>
  <%= link_to 'New Album', new_album_url%>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', :back %>
